<div class="col-md-3 user_journey_nav">
  <h3 class="user_journey_title">
    User journeys (#<%= uj_length %>)
  </h3>
  <ul class="nav nav-pills nav-stacked">

    <% user_journeys.each do |user| %>
      <li class="user_journey_user_name"><p><%= user.fetch(:name) %></p></li>

      <% user.fetch(:ujs).each do |uj| %>
        <li><a class="user_journey_item" href="#" data-title="<%=uj.fetch(:title) %>" data-code="<%= uj.fetch(:logic) %>"> <%= uj.fetch(:title) %></a></li>

      <% end %>
    <% end %>
  </ul>
</div>

<div class="col-md-9">
  <h3 class="user_journey_name"></h3>

  <h4 class="well user_journey_instructions"><- Click on any User Journey to the left to view it.</h4>

  <div id="canvas"></div>

  <div id="code" style="visibility: hidden">
    
  </div>
</div>